<!DOCTYPE html>
<html lang="en">
<head>

    {% block head %}

    <!-- Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <meta name="description" content="{{ site_description }}" />
    <meta name="author" content="{{ issuer_name }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="shortcut icon" href="{{ theme_static('img/favicon.ico') }}">

    <!-- Title
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <title>{% block title %}{% endblock %}</title>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% block css %}
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ theme_static('css/cagov.core.css') }}">
    <link rel=stylesheet type=text/css href="{{ theme_static('css/colorscheme-oceanside.css') }}">
    <link rel=stylesheet type=text/css href="{{ theme_static('css/style.css') }}">
    {% endblock %}

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/verification.js"></script>

    {% endblock %}

</head>

<body>
    <header role="banner" id="header" class="global-header">
        <div class="branding">
            <div class="header-organization-banner"><a href="/"><img src="{{ theme_static(config.ISSUER_LOGO_PATH) }}" /></a></div>
        </div>
        <div class="navigation-search">
        </div>
    </header>
    <div id="main-content" class="main-content">
        <div class="section">
            <main class="main-primary">

                <div class="container">

                    <!-- Content
                    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
                    {% block content %}{% endblock %}


                </div>


            </main>
        </div>
    </div>

    <!-- Footer
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% block footer %}
    <footer id="footer" class="global-footer">

        <div class="container">
            <div class="row">
                <ul class="footer-links">
                    <li>Contact: <a href="mailto:{{ config.ISSUER_EMAIL }}">{{ config.ISSUER_EMAIL }}</a></li>
                    <li>Questions? Check out our <a href="/faq">FAQ page</a></li>
                </ul>
            </div>
        </div>

        <div class="copyright">
            <div class="container">
                Copyright &copy;
                <script>document.write(new Date().getFullYear())</script> State of California
            </div>
        </div>

    </footer>
    {% endblock %}




    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" /></script>
    <script type="text/javascript" src="/static/js/verification.js"></script>

    {% endblock %}


    <!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

</body>
</html>